@keyframes move-diagonal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 300%; /* Ajusta para que las líneas se muevan más */
  }
}

.diagonal-lines-container {
  position: fixed; /* Cambiado a fixed para que el fondo cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  z-index: -1; /* Asegúrate de que esté detrás del contenido */
  background: repeating-linear-gradient(
    45deg, /* Ángulo de las líneas */
    rgba(255, 102, 102, 0.3), /* Tono claro de rojo */
    rgba(255, 102, 102, 0.3) 80px, /* Espesor de la línea */
    rgba(255, 153, 153, 0.3) 80px, /* Espaciado entre líneas */
    rgba(255, 153, 153, 0.3) 160px /* Espaciado total */
  );
  background-size: 300% 300%; /* Tamaño del fondo para animación */
  animation: move-diagonal 15s linear infinite; /* Animación de movimiento más lenta */
}